body {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

body.dark {
    background-color: black;
    color: white;
}

body.light {
    background-color: white;
    color: black;
}